
.dropdown-content {
    width: 14rem;
    padding: 0.5rem 0;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
}

.dropdown-search {
    display: flex;
}

.dropdown-search input {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    font-family: inherit;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
}
  
.dropdown-item:hover {
    background-color: #f3f4f5;
}